<html>
<head>
	<title>Columbia Buy Sell Memes</title>

	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

	<script type="text/javascript" src="{{url_for('static', filename='memes.js')}}"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>	

	<link rel="stylesheet" href="{{url_for('static', filename = 'memes.css')}}">

	<script>
		sold_memes = {{sold_memes|tojson}}

		$(document).ready(function(){
			$("#sell_meme_and_save").click(function(){
				submitMeme(true)
			})
			$("#enter_price").keypress(function(e){
				if (e.which == 13) {
					submitMeme(true)
				}
			})
			$("#alternate_title").keypress(function(e){
				if (e.which == 13) {
					resetMeme(true)
				}
			})
			$("#alternate_caption").keypress(function(e){
				if (e.which == 13) {
					resetMeme(true)
				}
			})
			$("#alternate_price").keypress(function(e){
				if (e.which == 13) {
					resetMeme(true)
				}
			})

			display_memes(sold_memes)
		})

		var add_buttons = function(figure, id){
			var change_button = $("<button class='btn btn-secondary' data-toggle='modal' data-target='#change_price' data-id='" + id + "'>Edit this listing</button>")
			$(figure).append(change_button)

			$(change_button).click(function(){
				change_id = $(this).data("id")
			})
			return figure
		}
	</script>

</head>
<body>
<div class="wrapper">
<nav class="navbar navbar-light bg-light" id="sidebar">
	<div class="sidebar-header">
		<h3 class="mb-3"><a href="./">Menu</a></h3>
	</div>

	<ul class="list-unstyled components">
		<li class="mb-3"><a href='./buy'>Buy Memes</a></li>
		<li class="mb-3"><a href='./sell'>Sell Memes</a></li>
		<li class="mb-3"><a href='./memepage'>Buy AND Sell</a></li>
		<li class="mb-3"><a href='./my_memes'>My Memes</a></li>
	</ul>
</nav>

<div class="container mb-5">
	<h1 style="display: inline-block;">Columbia Buy Sell Memes</h1>

	<div id="user_info">
	</div>

	<div id="add_meme">
		<h4 style="color: maroon;">Upload a meme to sell:</h4>
		<div class="input-group">
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="upload_photo" onchange="previewFile()">
				<label class="custom-file-label" id="file_label" for="upload_photo">Upload your meme</label>
			</div>
		<img src="" height="200" style="display: none">
		</div>
		<div class="row no-gutters">
			<div class="col-4">
				<input class="form-control" type="text" id="enter_title" placeholder="Title">
			</div>
			<div class="col-6">
				<input class="form-control" type="text" id="enter_caption" placeholder="Caption">
			</div>
			<div class="col">
				<input class="form-control" type="text" id="enter_price" placeholder="Price">
			</div>
			<div class="col">
				<button class="btn btn-secondary" type="submit" id="sell_meme_and_save">Submit</button>
			</div>
		</div>
	</div>
	<br>
	<div id="memes">
	</div>

<div class="modal fade" id="change_price" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<h4 class="modal-title font-weight-bold">Updating meme...</h4>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body mx-3 text-center">
				<div class="md-form mb-3">
					<input type="text" class="form-control" id="alternate_title" placeholder="Suggest another title?">
				</div>
				<div class="md-form mb-3">
					<input type="text" class="form-control" id="alternate_caption" placeholder="Suggest another caption?">
				</div>
				<div class="md-form mb-3">
					<input type="text" class="form-control" id="alternate_price" placeholder="Suggest another price?">
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-center">
				<button class="btn btn-outline-secondary" id="reset_meme" onclick="resetMeme(true)" data-dismiss="modal">Submit</button>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</body>
</html>