<html>
<head>
	<title>Memetown Marketplace</title>

	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

	<link rel="stylesheet" href="{{url_for('static', filename = 'memes.css')}}">
	<script type="text/javascript" src="{{url_for('static', filename='memes.js')}}"></script>

	<script>
		memes = {{memes|tojson}}
		saved = {{saved|tojson}}

		$(document).ready(function(){
			$("#search_query").keypress(function(e){
				if (e.which == 13) {
					searchMemes()
				}
			})
			addUsers(Object.keys(saved))
			display_memes(memes)
		})

		var add_buttons = function(figure, id){
			var buy_button = $("<button class='btn btn-primary' data-toggle='modal' data-target='#add_user' data-id='" + id + "'>Buy this meme!</button>")
			$(figure).append(buy_button)

			$(buy_button).click(function() {
				var button_id = $(this).data("id")
				$(".hide").hide()
				$("#user_list").selectmenu({ width : "175"})
				$("#user_list").on("selectmenuchange", function() {
					if ($("#user_list").val() == 'other') {
						$(".hide").show()
						$(".hide").focus()
					} 
				})
				$(submit_user).click(function(){
					submit_to_buy(button_id)
				})
				$("#add_name").keypress(function(e){
					if (e.which == 13) {
						submit_to_buy(button_id)
					}
				})
			})
			return figure
		}

		var submit_to_buy = function(button_id) {
			var user = $("#user_list").val()
			if (user == 'other') {
				user = $("#add_name").val()
			}
			if ($.trim(user).length < 4) {
				alert("Please use at least three characters in your username")
				$("#add_name").val("")
				$("#add_name").focus()
			} else {
				$("#add_user").modal('hide')
				buy_meme(button_id, user)
			}
		}

	</script>
	
</head>
<body>
<div class="wrapper">
<nav class="navbar navbar-light bg-light" id="sidebar">
	<div class="sidebar-header">
		<h3 class="mb-3"><a href="./">Home</a></h3>
	</div>

	<ul class="list-unstyled components">
		<li class="mb-3"><a href='./buy'>Buy Memes</a></li>
		<li class="mb-3"><a href='./sell'>Sell Memes</a></li>
		<li class="mb-3"><a href='./my_memes'>My Memes</a></li>
	</ul>
</nav>

<div class="container mb-5">
	<h1 style="display: inline-block; padding-top: 50px;s">Memetown Marketplace</h1>
	<h4 style="color: maroon;">Clicking on "Buy this meme!" will save the selected meme to your personal meme collection, accessible under "My Memes"</h4>
	<div class="input-group col-md-4" id="search" style="float: right; padding: 10px">
		<input type="text" class="form-control" id="search_query" maxlength="400" placeholder="Search titles and captions">
		<div class="input-group-append">
			<button class="btn btn-outline-secondary" id="do_search" onclick="searchMemes()">Go</button>
		</div>
	</div>

<div id="user_info">
</div>
<br>
<div id="memes">
</div>

<div class="modal fade" id="add_user" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<h4 class="modal-title font-weight-bold">Saving meme to user...</h4>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body mx-3 text-center">
				<div class="md-form mb-3">
					<label for="user_list">Select a User: </label>
					<select name="users" id="user_list">
					</select>
					<input type="text" class="hide" id="add_name" maxlength="100" placeholder="Your name">
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-center">
				<button class="btn btn-outline-secondary" id="submit_user">Submit</button>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</body>	
</html>