<html>
<head>
	<title>Memetown Marketplace</title>

	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

	<link rel="shortcut icon" href="favicon.ico" type="static/img/favicon.ico">

<!-- 	<style>
		body {
			background-image: url('static/img/surprise pikachu.jpg');
			background-position: bottom right;
		}
	</style> -->

	<script type="text/javascript">
		$(document).ready(function(){
			$("#seller_page").click(function(){
				location.href = "./sell"
			})
			$("#buyer_page").click(function(){
				location.href = "./buy"
			})
		})
	</script>

	
</head>
<body>
<div class="container mb-5">
	<h1 id="title" style="display: inline-block; padding-top: 50px;">Memetown Marketplace</h1>
</div>
	<h3 style="text-align: center;">I want to...</h3>
	<div class="mb-3" style="text-align: center;">
		<button class="btn btn-info" id="buyer_page">Buy (browse) memes</button>
	</div>
	<div class="mb-3" style="text-align: center;">
		<button class="btn btn-info" id="seller_page">Sell (upload) memes</button>
	</div>
</div>
<div id="background-img">
	<img src="static/img/surprise pikachu.jpg" style="position: absolute; right: 0px; bottom: 0px;" height= "250px">
</div>
</body>
</html>